.titleBar {
  background: #D5DEE3;
  width: 100vw;

  .logoTitleImage {
    padding-top: 6.4vh;
    padding-bottom: 6.4vh;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    width: 35vh;
  }
}

hr {
  border-top: 1px solid #7892CB;
  margin-top: 1vh;
}

.titleText {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2vh;
}

.signOutButton {
  margin-top: 0;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.helloEmployee {
  margin-top: 4vh;
}

.role:first-letter {
  text-transform:capitalize;
}
