.titleBar {
  background: #D5DEE3;
  width: 100vw;

  .logoTitleImage {
    padding-top: 6.4vh;
    padding-bottom: 6.4vh;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    width: 35vh;
  }
}

.textArea {
  text-align: center;
}

h2 {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.profileArea {
  padding-right: 13%;
  padding-left: 13%;
  text-align: center;
}

.title {
  font-weight: bold;
}

.price {
  font-weight: lighter;
}

.imgWrapper {
}

.profileImage {
  width: 100%;
}

