<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-text-center">
      <div class="titleBar">
        <ion-img class="logoTitleImage" src='../../assets/logo.svg'></ion-img>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
  <div class="textArea">
    <h2>These are the people who made this!</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="profileArea">
            <div class="imgWrapper">
              <ion-img class="profileImage" src="../../assets/angelo.png">
              </ion-img>
            </div>
            <p class="title">Backend Boy</p>
            <p>Hi im angelo, I worked on the backend and the sql integration</p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="profileArea">
            <div class="imgWrapper">
              <ion-img class="profileImage" src="../../assets/test.jpg">
              </ion-img>
            </div>
            <p class="title">Frontend Founder</p>
            <p>Hi im Mark, and I worked with Angular to design and create the web app</p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="profileArea">
            <div class="imgWrapper">
              <ion-img class="profileImage" src="../../assets/patel.png">
              </ion-img>
            </div>
            <p class="title">Postgres Prophet</p>
            <p>I helped design and set up the database in Postgresql</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
