.dataselect {
  border: 0px;
  background-color: #D5DEE3;
  font-size: 1.33rem;
  padding: 2px;
  margin-top: 0.5vh;
}

.datainput {
  border: 0px;
  background-color: #D5DEE3;
  font-size: 1.33rem;
  padding: 2px;
  margin-top: 0.5vh;
}

.bod {
  text-align: center;
  margin-left: 2vw;
}
