.titleBar {
  background: #D5DEE3;
  width: 100vw;

  .logoTitleImage {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    height: 55vh;
    width: 35vh;
  }
}

.itemsList {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
