/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/JosefinSlab-Regular.ttf');
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/JosefinSlab-Bold.ttf');
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/JosefinSlab-SemiBold.ttf');
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/JosefinSlab-Light.ttf');
}

* {
  font-family: 'Josefin Slab';


  .textArea {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .submitButton {
    margin-top: 1.5vh;
    text-align: center;
    padding: 4px;
    background-color: #7892CB;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
  }

  .boldText {
    font-weight: 600;
  }

  .bodyText {
    font-size: 1.33rem;
    margin: 0px;
  }

  .priceText {
    font-weight: lighter;
    font-size: 1.6rem;
    margin: 0px;
  }

  .titleText {
    font-weight: bold;
    font-size: 2.13rem;
  }

  .lighterText {
    font-weight: lighter;
  }
}

