.label {
  color: #7892CB;
}

.employeeSection {
  margin-top: 6vh;
}

.sectionList{
  margin-top: 2vh;
}

.sectionBlock{
  margin-top: 4vh;
}

.submitButton {
  margin-top: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
